.header__button-signin {
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: #3DDC84;
    width: 76px;
    height: 32px;    
    border-radius: 3px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: black;
}