.portfolio__link-arrow{
    margin: 0;
    padding: 0;
    width: 29px;
    background-image: url('../../../image/text__COLOR_font-main.svg');
    background-repeat: no-repeat;
    background-position: center;
}