.footer__title {
  padding: 0;
  margin: 79px auto 20px auto;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #8b8b8b;
}
