.land__title {
    width: 730px;
    height: 116px;
    margin: 0 auto;
    padding: 0;
    font-family: "Inter";
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    color:  #FFFFFF;
}
