.card {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  padding-bottom: 16px;
  box-sizing: border-box;
  max-width: 364px;
  max-height: 294px; /* это с учетом маргина нижнего для увелеичения расстояния между рядами  */
  border-radius: 7px;
  background: #222222;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.card__image {
  width: 364px;
  height: 203px;
}

.card__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
  padding: 0;
}

.card__title {
  margin: 0;
  padding: 0;
  width: 290px;
  font-family: 'Inter', 'Arial', sans-serif;;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  margin: 0;  
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url('../../../image/card-icon-like.svg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #222222;
  opacity: 1;
  transition: opacity .5s ease;
  cursor: pointer;

}

.card__like:hover {
  opacity: .7;  
}

.card__like_active {
  background-image: url('../../../image/card-icon-like-active.svg');
}

.card__like_delete {
  background-image: url('../../../image/d4.svg');
}

.card__times {
  margin: 0 16px;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #8b8b8b;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .card{
    max-width: 339px;
    gap: 8px;
    margin-bottom: 0;
    padding-bottom: 13px;
  }
  .card__image{
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    gap: 6px;
  }
  .card__image {
    height: 169px;
  } 
  .card__title {
    font-size: 12px;
  } 
  .card__group, .card__times {
    margin: 0 14px;
  }
}