.header__button-signup {
    margin: 0;
    margin-right: 30px;
    padding: 0;
    border-style: none;
    width: 77px;
    height: 32px;    
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    background-color: #073042;  
    color: white;  
}